.WeatherData {
  max-width: 598px;
  width: 100%;
  height: 730px;
  background-image: url('./weather-bg.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.WeatherCity {
  margin-left: 40px;
  margin-top: 30px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 100px;
}
.WeatherGradusWrapper {
  display: flex;
  flex-direction: column;
}
.WeatherGradus {
  font-size: 50px;
  font-weight: 400;
  line-height: 65px;
  text-transform: uppercase;
  margin-right: auto;
  position: relative;
  height: 5px;
  margin-bottom: 35px;
  display: none;
}

.activeGradus {
  display: block;
}

.WeatherGradus::after,
.WeatherGradus::before {
  content: '';
  position: absolute;
}
.WeatherGradus::after {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid #828282;
  left: 80%;
  top: 0;
}
.WeatherGradus::before {
  position: absolute;
  content: 'c';
  font-size: 50px;
  font-weight: 400;
  line-height: 65px;
  font-weight: 300px;
  right: -43px;
}
